@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-in-out {
  animation: fade-in-out 2s infinite;
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}

ul {
  list-style-type: disc; /* Mostra i bullet points */
  padding-left: 2rem;   /* Aggiunge spazio prima degli elementi della lista */
}

ol {
  list-style-type: decimal; /* Mostra i numeri nelle liste ordinate */
  padding-left: 2rem;       /* Aggiunge spazio prima degli elementi della lista */
}

li {
  margin-bottom: 0.5rem; /* Aggiunge spazio tra gli elementi della lista */
}
